/* Appearance */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
}

main {
    max-width: 800px;
    margin: auto;
}

section {
    padding: 20px;
}